# dtk-template ignore
__pycache__
.idea
.vscode
.ninja_*
.mypy_cache
*.exe
build
build.ninja
objdiff.json
orig/*/*
!orig/*/.gitkeep
/*.txt
ctx.c

# This is for saving IDB files into
ida

# Ignore the N64 SDK headers since we download them
include/PR
